*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(12, 8, 8) !important;
  }

:root{
    --font-size-h4: 1.777em;
    --font-line-height-h4: 1.2;
    --font-letter-spacing-h4: -0.02em;
    --font-weight-h4: 400;
    --iq-title-text: #fff;
    --highlight-font-family: "Roboto", sans-serif;
    --iq-primary: #e50914;
    --dark-gradiant-tp-bt: linear-gradient(180deg, var(--iq-black), rgba(var(--iq-rgb-0), 0) 97%), var(--iq-bg1);
    --iq-title-text: #fff;
    

--content-width: 87.5em;
--content-width-sm: 73.125em;
--global-font-family: "Roboto", sans-serif;
--highlight-font-family: "Roboto", sans-serif;
--global-font-size: 1em;
--global-font-line-height: 1.5;
--global-box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.05);
--font-size-small: 0.75em;
--font-size-normal: 0.875em;
--font-size-h1: 4.209em;
--font-size-h2: 3.157em;
--font-size-h3: 2.369em;
--font-size-h4: 1.777em;
--font-size-h5: 1.333em;
--font-size-h6: 1em;
--font-line-height-p: 1.5;
--font-line-height-h1: 1.2;
--font-line-height-h2: 1.2;
--font-line-height-h3: 1.2;
--font-line-height-h4: 1.2;
--font-line-height-h5: 1.2;
--font-line-height-h6: 1.2;
--font-weight-body: normal;
--font-weight-h1: 400;
--font-weight-h2: 400;
--font-weight-h3: 400;
--font-weight-h4: 400;
--font-weight-h5: 400;
--font-weight-h6: 400;
--font-weight-regular: 400;
--font-weight-medium: 500;
--font-weight-semi-bold: 600;
--font-weight-bold: 700;
--font-weight-extra-bold: 800;
--font-letter-spacing-body: inherit;
--font-letter-spacing-link: unset;
--font-letter-spacing-h1: -0.02em;
--font-letter-spacing-h2: -0.02em;
--font-letter-spacing-h3: -0.02em;
--font-letter-spacing-h4: -0.02em;
--font-letter-spacing-h5: -0.02em;
--font-letter-spacing-h6: -0.02em;
--letter-spacing-one: 0.063em;
--letter-spacing-two: 0.125em;
--letter-spacing-three: 0.188em;
--letter-spacing-four: 0.25em;
--border-radius: 0.1875em;
--border-radius-box: 0.1875em;
--border-radius-ten: 0.1875em;
--border-radius-three: 0.1875em;
--iq-body-bg: #000;
--iq-bg1: #141314;
--iq-bg-not: #0d0c0c;
--iq-body-text: #d1d0cf;
--iq-body-border: #262525;
--iq-white-light-color: #404043;
--iq-title-text: #fff;
--input-bg: #141314;
--iq-border-dark: #101010;
--iq-border-light: #262525;
--iq-tag-bg: #000;
--iq-sidebar-boder-color: #1f1f1f;
--cart-text-color: #898989;
--card-box-bg: #121212;
--card-box-style: #141314;
--iq-placeholder-color: #d9d5d5;
--iq-thumb-slider-color: #181616;
--iq-primary: #e50914;
--iq-primary-hover: #bf000a;
--iq-secondary: #6c757d;
--iq-white-color: #fff;
--iq-black: #000;
--iq-warning-color: red;
--iq-skelation-bg: #0f0f0f;
--iq-ratting: #ecba12;
--iq-orange: orange;
--iq-green: green;
--iq-form-gradient-color: rgba(11, 1, 2, 0);
--iq-to-gradient-color: rgba(255, 55, 65, 0.3);
--iq-rgb-0: 0, 0, 0;
--iq-rgb-20: 20, 20, 20;
--iq-rgb-25: 25, 25, 25;
--iq-rgb-41: 41, 41, 41;
--iq-rgb-51: 51, 51, 51;
--iq-rgb-72: 72, 72, 72;
--iq-rgb-255: 255, 255, 255;
--iq-rgb-light: 80, 100, 44;
--iq-primary-hover: #bf000a;
--font-size-normal: 0.875em;
--iq-rgb-border: 31, 31, 31;
--iq-rgb-18: 19, 18, 18;
--primary-bg-gradiant-lt-rt: transparent linear-gradient(270deg, var(--iq-form-gradient-color), var(--iq-to-gradient-color));
--primary-bg-gradiant-tp-bt: linear-gradient(0deg, var(--iq-form-gradient-color) 0%, var(--iq-to-gradient-color) 85%);
--backgorund-overlay: rgba(var(--iq-rgb-0), 0.8);
--dark-gradiant-tp-bt: linear-gradient(180deg, var(--iq-black), rgba(var(--iq-rgb-0), 0) 97%), var(--iq-bg1);
--dark-gradiant-bt-tp: linear-gradient(0deg, var(--iq-black), rgba(var(--iq-rgb-0), 0));
--main-banner-gradiant: linear-gradient(90deg, rgba(var(--iq-rgb-0), 0.9), rgba(var(--iq-rgb-20), 0.9) 15%, rgba(var(--iq-rgb-light), 0));
--show-banner-gradiant: linear-gradient(90deg, rgba(var(--iq-rgb-0), 1), rgba(var(--iq-rgb-20), 1) 35%, rgba(var(--iq-rgb-light), 0));
--iq-gredient-bottom-top: linear-gradient(180deg, rgba(var(--iq-rgb-51), 0), rgba(var(--iq-rgb-0), 0.8) 70%, var(--iq-black));
--gradiant-mid-side: linear-gradient(90.06deg, rgba(var(--iq-rgb-20), 0) 1.66%, var(--iq-bg1) 43.64%, rgba(var(--iq-rgb-20), 0) 89.28%);
--skelation-bg-color: linear-gradient(90deg, rgba(var(--iq-rgb-20), 0), rgba(var(--iq-rgb-20), 0.2) 20%, rgba(var(--iq-rgb-20), 0.5) 60%, rgba(var(--iq-rgb-20), 0));
--skelation-bg-color-new: linear-gradient(90deg, rgba(var(--iq-rgb-0), 0), rgba(var(--iq-rgb-0), 0.2) 20%, rgba(var(--iq-rgb-0), 0.5) 60%, rgba(var(--iq-rgb-0), 0));
--iq-gredient-widget-bg: linear-gradient(180deg, rgb(var(--iq-rgb-25)), rgb(var(--iq-rgb-25)) 10%, rgba(var(--iq-rgb-light), 0));
--iq-border-gredient: linear-gradient(90deg, rgba(var(--iq-rgb-border), 1), rgba(var(--iq-rgb-border), 0.6), rgba(var(--iq-rgb-border), 0));
--iq-gredient-border-mid-tb: linear-gradient(0deg, rgba(var(--iq-rgb-border), 0), rgba(var(--iq-rgb-border), 0.6), rgba(var(--iq-rgb-border), 0));
--iq-gredient-border-mid-lr: linear-gradient(270deg, rgba(var(--iq-rgb-border), 0), rgba(var(--iq-rgb-border), 0.6), rgba(var(--iq-rgb-border), 0));
--iq-card-gredient: linear-gradient(90deg, rgba(var(--iq-rgb-0), 0.8), rgba(var(--iq-rgb-20), 0.4) 50%, rgba(var(--iq-rgb-light), 0));
--iq-card-gredient-bottom: linear-gradient(360deg, var(--iq-black) 4.01%, rgba(var(--iq-rgb-20), 0) 63.61%);
--iq-global-box-shadow: 0 0 1.875em 0 rgba(var(--iq-rgb-0), .1);
--iq-card-box-shadow: 0 0 0.75em rgba(var(--iq-rgb-0), 0.9);
--iq-new-box-shadow: 8px 8px 45px rgba(var(--iq-rgb-0), 0.1);
--iq-image-shadow: 0 1.25em 2.5em rgba(var(--iq-rgb-0), 0.6);
--iq-slider-details: linear-gradient(360deg, var(--iq-black), rgba(var(--iq-rgb-0), 0) 51.04%);
--iq-slider-details-hover: linear-gradient(0deg, rgba(var(--iq-rgb-20), 0.65), rgba(var(--iq-rgb-20), 0.65)), linear-gradient(360deg, #0c0b11 4.12%, rgba(12, 11, 17, 0) 65.29%);
--iq-horizontal_thumb_slider-main-bg: linear-gradient(90.3deg, var(--iq-thumb-slider-color) 9.88%, rgba(var(--iq-rgb-18), 0) 31.52%), linear-gradient(266.54deg, var(--iq-thumb-slider-color) 13.29%, rgba(var(--iq-rgb-18), 0) 98.41%);
--iq-horizontal_thumb_slider-bg: linear-gradient(-270deg, var(--iq-body-bg), rgba(var(--iq-rgb-20), 0));
--iq-thumb-slider-img-bg: linear-gradient(0deg, rgba(var(--iq-rgb-0), 0.8), rgba(var(--iq-rgb-0), 0.8));
--iq-top-ten-bg: linear-gradient(0deg, rgba(12, 11, 17, 0.9), rgba(12, 11, 17, 0) 41.03%);
--iq-bottom-gbg: linear-gradient(0deg, #0c0b11 8.71%, rgba(12, 11, 17, 0) 72.11%);
--iq-tvshow-bg: linear-gradient(270deg, rgba(var(--iq-rgb-0), 0.5) 0.6%, rgba(var(--iq-rgb-0), 0) 29.9%), linear-gradient(90deg, var(--iq-black), rgba(var(--iq-rgb-0), 0) 38.52%), linear-gradient(0deg, rgba(var(--iq-rgb-0), 0.7), rgba(var(--iq-rgb-0), 0));
--slider-with-details-bg: linear-gradient(87.53deg, var(--iq-skelation-bg) 13.17%, rgba(var(--iq-rgb-18), 0) 32.74%), linear-gradient(266.54deg, var(--iq-thumb-slider-color) 13.29%, rgba(var(--iq-rgb-18), 0) 98.41%), linear-gradient(273.02deg, var(--iq-thumb-slider-color) 21.88%, rgba(var(--iq-rgb-18), 0) 51.44%);
--iq-blog-box-border: linear-gradient(270deg, rgba(38, 37, 37, 0) -1.25%, var(--iq-secondary) 43.69%, rgba(38, 37, 37, 0) 99.08%);
}
:root {
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #6c757d;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
:root {
--woocommerce: #7F54B3;
--wc-green: #7ad03a;
--wc-red: #a00;
--wc-orange: #ffba00;
--wc-blue: #2ea2cc;
--wc-primary: #7F54B3;
--wc-primary-text: white;
--wc-secondary: #e9e6ed;
--wc-secondary-text: #515151;
--wc-highlight: #b3af54;
--wc-highligh-text: white;
--wc-content-bg: #fff;
--wc-subtext: #767676;
}
.loader-wheel-container{
    margin-bottom: 20px;
}

.banner{
    margin-top: 40px;
background-image: url(../swiper2/loginpage.png);
background-size: cover;
background-repeat: no-repeat;
height: 60vh;
width: 100%;
z-index: 4;
}
.layerst{
    background-color: rgba(0, 0, 0, 0.771);
    height: 60vh;
    z-index: 10;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.iq-tag{
    color: white !important;
}
.con h1 span {
    color: rgb(154, 13, 13);
    font-weight: 600;
}
.con h1{
    color :rgb(255, 255, 255);
    display: block;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-size: 55.512px;
    font-stretch: 75%;
    font-weight: 500;
    height :60.6125px;
    letter-spacing: -1.01024px;
    line-height: 60.6144px;
    overflow-wrap: break-word;
    text-align :center;
    text-size-adjust: 100%;
    letter-spacing: 1px;
}

.con p{
    color:rgb(229, 9, 20);
    margin-top: 20px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
}


.elementor-element .elementor-widget-container {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform var(--e-transform-transition-duration, .4s);
}

.gap-s2{
    padding: 6.25em 6.25em 0em 6.25em;
}

.iq-main-header {
    margin-bottom: 1.875em;
}
.iq-title  {
    font-size: 1.777em;
    font-size: var(--font-size-h4);
    line-height: 1.2;
    line-height: var(--font-line-height-h4);
    letter-spacing: -.02em;
    letter-spacing: var(--font-letter-spacing-h4);
    font-weight: 400;
    font-weight: var(--font-weight-h4);
    font-family: var(--highlight-font-family);
    font-stretch: condensed;
    word-wrap: break-word;
    color: var(--iq-title-text);
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -.9375em;
    margin-left: -.9375em;
}

.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}
@media (min-width: 992px) {
    .col-lg-3 {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
    }
    .gap-s2{
        padding: 6.5em 6.5em 0em 6.55em;
    }
}

@media (min-width: 768px) {
    .col-md-4 {
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
    }
    .gap-s2{
        padding: 4.25em 4.25em 0em 4.25em;
    }
}
@media (min-width: 576px) {
    .col-sm-6 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
    }
    .gap-s2{
        padding: 2.25em 2.25em 0em 2.25em;
    }
}
.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: .9375em;
    padding-left: .9375em;
}
@media (min-width: 992px) {
    .col-lg-3 {
            flex: 0 0 25%;
            max-width: 25%;
    }
}
@media (min-width: 768px) {
    .col-md-4 {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
    }
}
@media (min-width: 576px) {
    .col-sm-6 {
            flex: 0 0 50%;
            max-width: 50%;
    }
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}@media (min-width: 992px) {
    .col-lg-3 {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
    }
}

@media (min-width: 768px) {
    .col-md-4 {
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
    }
}
@media (min-width: 576px) {
    .col-sm-6 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
    }
}
.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: .9375em;
    padding-left: .9375em;
}
@media (min-width: 992px) {
    .col-lg-3 {
            flex: 0 0 25%;
            max-width: 25%;
    }
}
@media (min-width: 768px) {
    .col-md-4 {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
    }
}
@media (min-width: 576px) {
    .col-sm-6 {
            flex: 0 0 50%;
            max-width: 50%;
    }
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media (max-width: 767px) {
    .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
            padding-left: .469em;
            padding-right: .469em;
    }
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: .9375em;
    padding-left: .9375em;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media (max-width: 767px) {
    .row {
            margin-left: -.469em;
            margin-right: -.469em;
    }
}



a {
    color: #e50914;
    color: var(--iq-primary);
    outline: none;
}
.button, a, input {
    outline: medium none !important;
    color: #e50914;
    color: var(--iq-primary);
}
a {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
:is(a) :is(h1,h2,h3,h4,h5,h6), a {
    color: #fff;
    color: var(--iq-title-text);
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

.iq-tag-box {
    background: var(--dark-gradiant-tp-bt);
    margin-bottom: 1.875em;
    text-align: center;
    height: 9.375em;
    padding: .9375em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    transition: all .6s ease 0s;
}

.iq-tag-box .iq-tag {
    color: var(--iq-primary);
    font-size: var(--global-font-size);
    line-height: 1.75em;
    letter-spacing: var(--letter-spacing-one);
    font-weight: var(--font-weight-medium);
    word-break: break-word;
    text-transform: capitalize;
}

.iq-tag-box::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: .25em solid var(--iq-primary);
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
}
.wl-child a{
    text-decoration: none;
}

.loader-wheel-container {
    text-align: center;
}
.btn-hover{
    color: var(--iq-white-color) !important;
    text-align: center;
    background-color: red !important;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-hover, .iq-button.btn {
    color: #fff;
    color: var(--iq-white-color);
}
.iq-button.btn {
    padding: .75em 1.5em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    overflow: hidden;
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}
.btn-hover {
    background: #bf000a;
    background: var(--iq-primary-hover);
    border: .0625em solid #bf000a;
    border: .0625em solid var(--iq-primary-hover);
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(.0625em) translateZ(0);
    transform: perspective(.0625em) translateZ(0);
    -webkit-box-shadow: 0 0 .0625em transparent;
    box-shadow: 0 0 .0625em transparent;
    position: relative;
    border-radius: .3125em;
}
.btn, .iq-button {
    font-size: .875em;
    font-size: var(--font-size-normal);
    padding: .5em 1em;
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 4;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25em;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.hidech{
    display: none;
}



@media only screen and (max-width: 450px)and (min-width:350px) {


    .banner {
      
        height: 40vh;
        
    }

    .layerst {
        height: 40vh;
    }
    .gap-s2 {
        padding: 1.25em 1.25em 0em 1.25em !important ;
            
    
    }
    .iq-title{
        text-align: center;
    }

    .con h1 {
        height: 40.6125px;
        font-size: 35.512px;
       margin-bottom: 0px !important;
       font-weight: 500;
       height: 60px !important;
       letter-spacing: -1.01024px;
       line-height: 35.6144px;
       overflow-wrap: break-word;
       text-align: center;
       text-size-adjust: 100%;
       letter-spacing: 1px;
    }

}
